* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

header {
  background-color: #ffecce;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  width: 100px;
}

nav {
  width: 30%;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

li {
  cursor: pointer;
}
